.card_comunidade {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.card_comunidade h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}

.card_comunidade p {
    font-size: 1rem;
    line-height: 24px;
    color: #cdd1d6;
}

.card_comunidade_footer {
    margin-top: .5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
}

.likes_comentarios{
    display: flex;
    align-items: center;
}

.card_comunidade_footer button {
    padding: .5rem;
    color: var(--branco);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.card_comunidade_footer button:hover, .perfil:hover{
    padding: .5rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    cursor: pointer;
}

.card_comunidade_footer button:active {
    padding: .5rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
}


.card_comunidade_footer .perfil {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .5rem;
}