:root{
    --azul_escuro: rgba(5, 29, 59);
    --azul_3: rgba(80, 129, 251);
    --azul_2: rgba(123, 164, 252);
    --azul_claro: rgb(150, 185, 253);
    --branco: rgb(255, 255, 255);
    --cinza_escuro: rgb(20, 20, 20);
    --cinza_claro: rgba(255, 255, 255, 0.16);

    --btn_escuro: rgba(80, 129, 251, 0.08);
    --btn_escuro_hover: rgba(80, 129, 251, 0.16):;

    --btn_claro: rgb(80, 129, 251); 
    --btn_claro_hover: rgb(123, 164, 252);

}

body{
    background: #051D3B;
    margin: 2rem 1rem 0 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--branco);
}

button{
    border: none;
    cursor: pointer;
    background: none;
}

::placeholder {

    color: var(--branco);
    opacity: .6;
    font-family: 'Inter', sans-serif;

}

a:link {
    text-decoration: inherit;
    font-family: 'Inter', sans-serif;
    color: var(--branco);
}

a:visited {
    text-decoration: inherit;
    font-family: 'Inter', sans-serif;
    color: var(--branco);
}

a:hover {
    opacity: 64%;
}

a:active {
    opacity: 100%;
}